.color {
	background-color: #ED1B24;
}
.bob {
	background-color: black;
}

.musicaImg {
height: 60px;

}

button{
	background-color:black;
	border: none;
	width: 130px;
}
.lista{	background-color:black;
	border: none;
	width: 130px;}

input{
	display: block;
	width: 100%;

}

.navbar{
	border: none;
	color: white;
}
.navbar-inverse .navbar-brand{
	color: white;
}
.container-fluid{
	background-color: #ED1B24;
}